:where(.css-dev-only-do-not-override-14wwjjs).ant-modal .ant-modal-title {
  margin: 0 0 16px;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 28px;
  line-height: 1.5;
  word-wrap: break-word;
  text-align: center;
}
:where(.css-dev-only-do-not-override-14wwjjs).ant-modal .ant-modal-content {
  width: 550px;
}
.custom-modal-filter {
  position: relative;
  right: 35%;
}
