.container-chart {
  width: 1567px;
  height: 863px;
  background-color: #fff;
  .title-chart {
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: 54px;
  }
}
.chart-top-one {
  height: 400px;
}
